<div class="eletoric-item border rounded-3 h-100">
    <ul class=" py-3 h-100 px-0">
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-laptop fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Laptops</h6>
            <i class="bi bi-caret-right-fill ms-auto my-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-tv fs-2"></i>
            <h6 class="my-auto ms-3 me-2">TVs & Video</h6>
            <i class="bi bi-caret-right-fill ms-auto my-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-phone fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Cell Phone</h6>
            <i class="bi bi-caret-right-fill my-auto ms-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-smartwatch fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Wearable Tech</h6>
            <i class="bi bi-caret-right-fill my-auto ms-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-cpu fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Appliance</h6>
            <i class="bi bi-caret-right-fill ms-auto my-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-camera fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Cameras</h6>
            <i class="bi bi-caret-right-fill my-auto ms-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-tablet-landscape fs-2"></i>
            <h6 class="my-auto ms-3 me-2">iPads & Tablets</h6>
            <i class="bi bi-caret-right-fill ms-auto my-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-earbuds fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Headphones</h6>
            <i class="bi bi-caret-right-fill my-auto ms-auto"></i>
        </li>
        <li class="d-flex my-2 justify-content-center px-3">
            <i class="bi bi-router fs-2"></i>
            <h6 class="my-auto ms-3 me-2">Networking</h6>
            <i class="bi bi-caret-right-fill ms-auto my-auto"></i>
        </li>
    </ul>
</div>